<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="wave.withdiary.study">
	

	<!-- 일정 추가 -->
	<insert id="insertSch" parameterType="StudyDTO">
		<![CDATA[
			INSERT INTO WD_STUDY
			("studyNO", "subject", "content", "writer", "studyTime", "studyDate", "memberCode")
			VALUES(WD_STUDY_SEQ.nextval, #{subject}, #{content}, #{writer}, #{studyTime}, #{studyDate} , #{memberCode})
		]]>
	</insert>
	
	<!-- 스터디 일정 읽기 -->
	<select id="selectSch" resultType="StudyDTO" parameterType="int">
		<![CDATA[
			SELECT *
			FROM WD_STUDY 	
			WHERE "studyNO"=#{studyNO}
		]]>
	</select>
	
	<!-- 스터디 일정 수정하기 -->
	<update id="updateSch" parameterType="StudyDTO">
		<![CDATA[
			UPDATE WD_STUDY
			SET "subject"=#{subject}, "content"=#{content}, "studyTime"=#{studyTime}
			WHERE "studyNO" = #{studyNO}
		]]>
	</update>
	
	<!-- 스터디 일정 삭제하기 -->
	<delete id="deleteSch" parameterType="int">
		DELETE FROM WD_STUDY
		WHERE "studyNO"= #{studyNO}
	</delete>
	
	<!-- 스터디 일정 전체목록보기 -->
	<select id="listSch" resultType="StudyDTO">
		<![CDATA[
			SELECT *
			FROM WD_STUDY
		]]>
	</select>
</mapper>









